@import "variable";
@import "animation";

.vue-simple-drawer {
  // default style
  padding: 20px;
  color: white;
  background: rgba(51, 51, 51, 1);
  box-shadow: 20px 12px 32px -3px rgba(0, 0, 0, 0.93);
  // common
  position: fixed;
  overflow: auto;
  // top: 0;
  z-index: 99;
  // bottom: 0;

  &.closeable {
    padding-top: 40px;
  }
  &.left {
    left: 0;
    top: 0;
    bottom: 0;
  }

  &.right {
    right: 0;
    top: 0;
    bottom: 0;
  }
  &.up {
    top: 0;
    left: 0;
    right: 0;
  }

  &.down {
    bottom: 0;
    left: 0;
    right: 0;
  }

  .close-btn {
    // position: relative;
    // margin: auto;
    width: $close-width;
    height: $close-width;
    // margin-top: 100px;
    // cursor: pointer;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 100;
    transform: translate(-50%, -50%);
    color: currentColor;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    .leftright {
      height: 4px;
      width: $close-width;
      position: absolute;
      margin-top: $close-width/2;
      background-color: $softorange;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: all 0.3s ease-in;
    }

    .rightleft {
      height: 4px;
      width: $close-width;
      position: absolute;
      margin-top: $close-width/2;
      background-color: $softorange;
      border-radius: 2px;
      transform: rotate(-45deg);
      transition: all 0.3s ease-in;
    }
    .close {
      margin: 60px 0 0 5px;
      position: absolute;
    }

    &:hover .leftright {
      transform: rotate(-45deg);
      background-color: $tomatored;
    }
    &:hover .rightleft {
      transform: rotate(45deg);
      background-color: $tomatored;
    }
  }
}
