$--simple-drawer-softorange: #f4a259 !default;
$--simple-drawer-tomatored: #f25c66 !default;
$--simple-drawer-mediumblu: #1e272d !default;
$--simple-drawer-close-width: 28px !default;
$--simple-drawer-bg-color: #333333 !default;
$--simple-drawer-fg-color: white !default;
